/*Resting method */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Resting method */

/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/


/*headder*/
header {
    display: flex;
    background: #484a55;
    padding: 13px 30px 13px 30px;
    color: #9799a7;
    border-bottom: 1px solid #31333a;
}

#organizing-data:hover {
    color: white
}

/*headder*/

/*section1*/

.section1 {
    background: #293f50;
    padding: 100px 0px;
}


.sction1-container {
    text-align: center;
}

.sction1-container>h3 {
    color: rgb(208, 214, 218);
    font-size: 27px;
    line-height: 40px;
    font-family: lato, sans-serif;

}

.sction1-container>h2 {
    font-family: lato, sans-serif;
    font-size: 40px;
    line-height: 50px;
    color: rgb(85, 201, 162);
}

.section1-headder {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.section1-headder>h1 {
    color: aliceblue;
    font-family: lato, sans-serif;
    font-size: 50px;
    margin-right: 200px;
}

.headder-nav {
    color: aliceblue;
}

.headder-nav nav {
    font-size: 20px;
    margin-top: 45px;
}

.headder-nav h3 {
    font-family: lato, sans-serif;
    font-size: 25px;
    color: rgb(85, 201, 162);
    margin-left: 90px;
}

.register-button {
    margin-top: 50px;
    padding: 25px 30px;
    color: white;
    background: #293f50;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 17px;

}



.register-button:hover {
    background: white;
    color: rgb(50, 77, 50);
}

/*section1*/

/*section 2*/

.section2-list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.section2 {
    padding: 75px 0px 250px 0px;
}

.section2-list-items {
    width: 270px;
    height: 200px;
    margin: 0px 20px;
}

.section2-image {
    width: 280px;
    height: 200px;
    border-radius: 5px;
}

.section2-list-items>h4,
.section2-list-items>a,
.section2-list-items>img,
.section2-list-items>p {
    margin: 10px 0px;
    color: rgb(150, 148, 148);
}

.section2-list-items p {
    line-height: 20px;
}

.section2-list-items a {
    text-decoration: none;
    line-height: 40px;
    font-size: 23px;
    color: rgb(81, 126, 111);
}




/*section 2*/

/*footer*/
footer {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    background: #293f50;
    color: rgb(128, 179, 128);
}

.options {
    color: rgb(218, 212, 212);
}

.options-sub {
    padding: 0px 10px;
    text-decoration: none;
    color: #9799a7;
}

.options-sub:hover {
    color: rgb(128, 179, 128)
}

/*footer*/